body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f2f2f2;
}

#principal {
    background: white;
    width: 80%;
    margin: 0px auto;
    min-width: 720PX;
    max-width: 1000PX;
}

#logo {
    background: lightcoral;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2em;
}

#conteudo {
    width: 74%;
    float: right;
}

#nav {
    float: left;
    width: 25%;
    padding: 20px 0px;
    background: #d1d1d1;
}

#rodape {
    clear: both;
    padding: 5px;
    background: #c2c2c2;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav ul a {
    display: block;
    width: 25%;
    height: 5%;
    background: #d1d1d1 url("../imagens/menu-seta-preta.png");
    text-decoration: none;
    color: black;
    text-indent: 30px;
    line-height: 40px;
}

#nav a:hover {
    background-position: right;
    color: white;
    background-color: #c2c2c2;
}

#conteudo-principal {
    padding: 5px;
    width: 76%;
    float: left;
    background: #f2f2f2;
}

#conteudo-secundario {
    padding: 5px;
    width: 20%;
    float: right;
    background: #d1d1d1;
}