fieldset {
    padding: 10px;
    border: 2px solid darkgray;
    background: #e6e6e6;
    width: 40%;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    padding: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 60%;
    background: #f2f2f2;
    box-shadow: 3px 3px 5px grey;
}

textarea {
    width: 60%;
    height: 100px;
    box-shadow: 3px 3px 5px grey;
}

input[type="radio"] {
    width: 10%;
}

label.sexo {
    display: inline;
}